<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP POST</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .todo {
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .done {
            text-decoration: line-through;
            color: #888;
        }
    </style>
</head>
<body>
    <h1>How does POST works in Go -> {{ .test }}</h1>
</body>
</html>