<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  {{ if .error }}
    <p style="color:red;">{{ .error }}</p>
  {{ end }}
  {{ if .message }}
    <p style="color:green;">{{ .message }}</p>
  {{ end }}
  <form method="POST" action="/login">
    <label>Username:</label><br>
    <input type="text" name="username" required/><br>
    <label>Password:</label><br>
    <input type="password" name="password" required/><br><br>
    <input type="submit" value="Login"/>
  </form>
  <p>Don't have an account? <a href="/signup">Sign Up</a></p>
</body>
</html>
